


<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">

    <hr>

    <h4 class="subtitle"> 
        Welcome to second hand magic, a secure where you can buy and sell used Magic the Gathering cards 
    </h4>

    </br>

    <h5 class="subtitle"> 
        Please sign up or log in to take a look at our <%= link_to "catalogue", listings_path %> 
    </h5>
    
        </div>
    </div>
</section>


